version: '3.1'

services:
  redis:
    image: redis:7-alpine
    restart: always
    logging:
      driver: none

  socat:
    image: bennythink/socat
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: [ "socat", "tcp-listen:2375,fork,reuseaddr","unix-connect:/var/run/docker.sock" ]

  ncmbot:
    image: bennythink/ncmbot
    env_file:
      - env/ncmbot.env
    volumes:
      - ./data/bot.session:/NCMBot/bot.session
    restart: always
    working_dir: /NCMBot
    depends_on:
      - socat

  archiver:
    image: bennythink/archiver
    restart: always
    env_file:
      - env/archiver.env
    depends_on:
      - socat

  teletweet: # this is only for bot
    image: bennythink/teletweet
    restart: always
    volumes:
      - ./data/teletweet.enc:/TeleTweet/teletweet/database.enc
    env_file:
      - env/teletweet.env
    depends_on:
      - socat

  gakki:
    image: bennythink/dailygakki
    restart: always
    volumes:
      - ./data/gakki.json:/database.json
      - ../photos/:/photos/
    env_file:
      - env/gakki.env
    depends_on:
      - socat

  rssbot:
    image: bennythink/rssbot
    restart: always
    volumes:
      - ./data/:/root/
    env_file:
      - env/rssbot.env
    logging:
      driver: none

  wp-comments:
    image: bennythink/wp-comments
    restart: always
    volumes:
      - ./data/wp.json:/config.json
    depends_on:
      - socat

  expressbot:
    image: bennythink/expressbot
    restart: on-failure
    volumes:
      - ./data/expressbot.db:/ExpressBot/expressbot/expressbot.db
    env_file:
      - env/expressbot.env
    depends_on:
      - socat

  idbot:
    image: bennythink/idbot
    restart: on-failure
    env_file:
      - env/idbot.env

  captcha:
    image: bennythink/captchabot
    env_file:
      - env/captcha.env
    restart: always
    depends_on:
      - redis

  stickers:
    image: bennythink/stickers
    env_file:
      - env/stickers.env
    restart: always
