version: '3.1'

services:
  redis:
    image: redis:7-alpine
    restart: always
    logging:
      driver: none
    ports:
      - "127.0.0.1:6379:6379"
  socat:
    image: bennythink/socat
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: [ "socat", "tcp-listen:2375,fork,reuseaddr","unix-connect:/var/run/docker.sock" ]

  ncmbot:
    image: bennythink/ncmbot
    env_file:
      - env/ncmbot.env
    volumes:
      - ./data/bot.session:/NCMBot/bot.session
    restart: unless-stopped
    working_dir: /NCMBot
    depends_on:
      - socat

  archiver:
    image: bennythink/archiver
    restart: unless-stopped
    env_file:
      - env/archiver.env
    depends_on:
      - socat
    deploy:
      resources:
        limits:
          memory: 2g

  teletweet: # this is only for bot
    image: bennythink/teletweet
    restart: always
    volumes:
      - ./data/teletweet.json:/TeleTweet/teletweet/auth.json
    env_file:
      - env/teletweet.env
    depends_on:
      - socat

  gakki:
    image: bennythink/dailygakki
    restart: unless-stopped
    volumes:
      - ./data/gakki.json:/database.json
      - ../photos/:/photos/
    env_file:
      - env/gakki.env
    depends_on:
      - socat

  rssbot:
    image: bennythink/rssbot
    restart: unless-stopped
    volumes:
      - ./data/:/root/
    env_file:
      - env/rssbot.env

  wp-comments:
    image: bennythink/wp-comments
    restart: always
    volumes:
      - ./data/wp.json:/config.json
    depends_on:
      - socat

  expressbot:
    image: bennythink/expressbot
    restart: unless-stopped
    volumes:
      - ./data/expressbot.db:/ExpressBot/expressbot/expressbot.db
    env_file:
      - env/expressbot.env
    depends_on:
      - socat

  idbot:
    image: bennythink/idbot
    restart: unless-stopped
    env_file:
      - env/idbot.env

  captcha:
    image: bennythink/captchabot
    env_file:
      - env/captcha.env
    restart: unless-stopped
    depends_on:
      - redis

  stickers:
    image: bennythink/stickers
    env_file:
      - env/stickers.env
    restart: unless-stopped